.square {
    padding-top: 72px;

    p {
        padding: 20px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #333333;
    }
}